/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/03/2015, 8:17:18 PM
    Author     : NKlaze
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*
    Nav bar at top of page
*/
.navbar-brand .logo {
    background-image: url("../hiscom20.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    
}

/*
 * Sidebar
 */

#sidebar {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    top: 0px;
}
#sidebar>ul>li>a[href="#top"] {
    display: none;
}

.sidebar {
    display: none;
}
/* Hide for mobile, show later */
@media (min-width: 768px) {
    .sidebar {
        display: block;
    }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar>li>a {
    font-weight: bold
}

/*
    HISPID terms tables
*/
.table.hispid-table {
    margin-top: 15px;
    width: 100%;
}

.table.hispid-table>thead>tr>th {
    background-color: #eee;
}

.table.hispid-table>tbody>tr>th {
    width: 20%;
}

